.resetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(#000000, #0f172a, #1d4ed8);
    box-sizing: border-box;
}

.resetPassword .main {
    width: 100%;
    max-width: 450px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.resetPassword .inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: auto;
}




.resetPassword .inputs input {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 22px;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    transition: 0.25s;
}

.resetPassword .inputs input:focus {
    transform: scale(1.05);
    border: 1px solid #3b82f6;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5);
}


.rest {
    width: 100%;
}

.rest input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    color: white;
    transition: 0.3s;
}

.rest input:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5);
}


.Enter {
    text-align: center;
}