.profile {
    width: 100%;
    height: 300px;
    background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}


.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.Name {
    margin-top: 100px;
    text-align: center;
}

.Name h3,
.Name p {
    font-size: 24px;
    color: #333;
}

.EditProfile {
    background-color: #007bff !important;
    color: #fff !important;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

@media (max-width:375px) {
    .model_profile Form {
        padding: 0;
        width: 320px;
    }
}