.Verfiy {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 70px;
    background: linear-gradient(135deg,
            #000000,
            #0f172a,
            #1d4ed8);
}

.verfiy div {
    width: 500px;
}


.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.otp-inputs input {
    width: 60px;
    height: 60px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    color: white;
    font-size: 24px;
    text-align: center;

    outline: none;

    transition: 0.3s;
}

.otp-inputs input:focus {
    border: 1px solid #3b82f6;

    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);

    transform: scale(1.05);
}

.verfiy_buttons {
    width: 500px;

}

.verfiy_buttons button {
    margin-top: 15px;
    width: 48%;
    padding: 8px;

    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    color: white;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s ease;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: rgba(37, 99, 235, 0.25);

    border: 1px solid rgba(59, 130, 246, 0.4);

    transform: translateY(-2px);

    box-shadow: 0 6px 25px rgba(37, 99, 235, 0.3);
}

button:active {
    transform: scale(0.98);
}

@media (max-width:375px) {

    .verfiy div {
        width: 80%;
    }

    .otp-inputs {
        width: 80%;
    }
}